@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

:root {
    /* Colors */
--soft-red: hsl(10, 79%, 65%);
--cyan: hsl(186, 34%, 60%);
--dark-brown: hsl(25, 47%, 15%);
--medium-brown: hsl(28, 10%, 53%);
--cream: hsl(27, 66%, 92%);
--very-pale-orange: hsl(33, 100%, 98%);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: var(--cream);
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container  {
    min-width: 30%;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.container .header {
    background: var(--soft-red);
    color: var(--cream);
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    padding: 20px;
}

.container .header .balance {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
}

.container .header img {
    width: 50px;
}

.container .main {
    background: var(--very-pale-orange);
    border-radius: 15px;
    padding: 20px;
}

.container .main .spending {
    border-bottom: solid 2px var(--cream);
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container .main .spending .heading h2{
    color: var(--dark-brown);
}

.container .main .spending .bar-chart-list {
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
    list-style-type: none;
    text-align: center;
    gap: 10px;
    margin-bottom: 20px;
}

.container .main .spending  .bar-chart-list .list-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 300px;
}

.container .main .spending .bar-chart-list .list-item .day-amount {
    align-self: center;
    width:fit-content;
    padding: 5px;
    font-size: 15px;
    text-align: center;
    background-color: var(--dark-brown);
    color: var(--cream);
    border-radius: 5px;
    display: none;
}

.container .main .spending .bar-chart-list .bar {
    background-color: var(--soft-red);
    border-radius: 5px;
    margin-top: 10px;
    transition: all 0.2s ease;
}

.container .main .spending .bar-chart-list .bar.currentDay {
    background-color: var(--cyan);
}

.container .main .spending .bar-chart-list .bar:hover {
    cursor: pointer;
    opacity: 70%;
}

.main .total {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 20px;
}

.main .total .this-month small {
    color: var(--medium-brown);
}

.main .total .this-month h1 {
    color: var(--dark-brown);
}

.main .total .last-month {
    margin-bottom: 7px;
}

.main .total .last-month p {
    color: var(--dark-brown);
    text-align: right;
    font-size: 15px;
}

.main .total .last-month p {
    font-weight: 700;
}

.main .total .last-month small {
    color: var(--medium-brown);
}

.attribution {
    font-size: 11px; 
    text-align: center; 
    margin:  30px  auto;
}
.attribution a { color: hsl(228, 45%, 44%); }


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body {
        justify-content: flex-start;
        margin-top: 30px;
    }
    .container .main .spending .bar-chart-list .list-item .day-amount {
        padding: 6px;
        font-size: 10px;
    }

    .main .total .this-month h1 {
        font-size: 25px;
    }
}
